<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
       {{ csrfField() }}
        <div>
            <label>Title:</label>
            <input type="text" name="title">
        </div>
        <div>
            <label>ISBN:</label>
            <input type="text" name="isbn">
        </div>
        <div>
            <label>Author:</label>
            <input type="text" name="author">
        </div>
        <input type="submit"/>
    </form>
</body>
</html>
